.message-gird{

    font-family: "Georgia", serif;
    color: black;
}

.grid-container {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: auto auto auto auto auto;

    background-color: #2196F3;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin: 10px;
    
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 40px;
    
}

.grid-item2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    grid-column: 1 / 4;
    grid-row: 1 / 5;
}

.grid-item3 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 40px;
    grid-column: 4/ span 2;
}
